.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters button,
.filters select {
  font-size: 14px;
  background-color: #ebf9ec;
  padding: 10px 24px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item{
  width: 23%;
}

@media screen and (max-width: 1280px) {
  .item {
    width:31%;
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .item {
    width: 100%;
  }

  .filters{
    flex-direction: column;
  }
}